html, body, .ui.grid, .container{
    height: 100%;
}

body {
    background-color: #d6d6d6;
}

.page-form {
    border-radius: 10px;
}

.form.page-form label.page-form__label {
    color: #fff;
    margin-bottom: 10px;
}

.form .error-field input[type=password],
.form .error-field input[type=text] {
    box-shadow: 0 0 10px 5px #9f3a38;
}

.form .error-field label.page-form__label  {
    color: #9f3a38;
}



