body {
    background-color: #d6d6d6;
}

.login-wrapper,
.register-wrapper {
    height: 100%;
}

.page-form {
    border-radius: 10px;
}

.form.page-form label.page-form__label {
    color: #fff;
    margin-bottom: 10px;
}

.form .error-field input[type=password],
.form .error-field input[type=text] {
    box-shadow: 0 0 10px 5px #9f3a38;
}

.form .error-field label.page-form__label  {
    color: #9f3a38;
}

.user-page-heading,
.column.grid.user-page-info {
    padding: 25px;
}

.ng-modal-overlay {
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}

.ng-modal-dialog {
    z-index:10000;
    position: absolute;
    width: 50%;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
    padding:10px;
    text-align: left;
}