div(class="ui middle aligned center aligned grid register-wrapper")
    form(class="ui six wide column big blue form network-form" ng-class="{error: register.isRegistrationFailed}" name="registerForm")
        div(class="field")
            label(class="page-form__label") First Name
            input(type="text", name="firstName", placeholder="Jon", required, ng-model="register.firstName")
        div(class="field")
            label(class="page-form__label") Last Name
            input(type="text", name="lastName", placeholder="Doe", required, ng-model="register.lastName")
        div(class="field")
            label(class="page-form__label") Login
            input(type="text", name="login", placeholder="new_user", required, ng-model="register.login")
        div(class="field")
            label(class="page-form__label") Password
            input(type="password", name="password", placeholder="123...", required, ng-model="register.password")
        button(class="ui large positive button" type="button", ng-click="register.registerUser(registerForm.$valid)") Register
        button(class="ui large secondary button" type="button", ng-click="register.returnToLogin()") Cancel
        div(class="ui mini error message")
            p(class="header") Incorrect entered data, or this login has already exist
            p(class="header") Please try again