doctype
html(lang="en")
head
    meta(charset="UTF-8")
    title Social Network
    base(href="/")
    link(rel="stylesheet" type="text/css" href="./assets/css/main.css")
    script(src="./assets/js/libs.js")
body(ng-app="socialNetwork")
    ng-view
    script(src="./app/app.js")