<div class="ui middle aligned center aligned column grid">
    <form class="ui six wide column massive form blue login-form">
        <div class="field">
            <label class="login-form__label">Login</label>
            <input type="text" name="first-name" placeholder="First Name">
        </div>
        <div class="field">
            <label class="login-form__label">Password</label>
            <input type="password" name="last-name" placeholder="Last Name">
        </div>
        <button class="ui big positive button" type="button">Sign In</button>
        <button class="ui big secondary button" type="button">Register</button>
    </form>
</div>
