<div class="ui middle aligned center aligned grid login-wrapper">
    <form name="signInForm" class="ui six wide column massive blue form page-form">
        <div class="field" ng-class="{'error-field': !login.isLoginCorrect}">
            <label class="page-form__label">Login</label>
            <input type="text" name="login" placeholder="Login" required ng-model="login.login">
        </div>
        <div class="field" ng-class="{'error-field': !login.isPasswordCorrect}">
            <label class="page-form__label">Password</label>
            <input type="password" name="password" placeholder="Password" required ng-model="login.password">
        </div>
        <button class="ui big positive button" type="button" ng-click="login.verifyUser()">Sign In</button>
        <button class="ui big secondary button" type="button" ng-click="login.registerUser()">Register</button>
    </form>
</div>