<div class='ng-modal' ng-show='true'>
    <div class='ng-modal-overlay' ng-click='hideModal()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class='ng-modal-dialog-content'>
            <form class="ui form">
                <div class="field">
                    <label>Phone number</label>
                        <input type="text" name="phoneNumber" placeholder="123...">
                </div>
                <div class="field">
                    <label>Country</label>
                    <input type="text" name="country" placeholder="Country">
                </div>
                <div class="field">
                    <label>City</label>
                    <input type="text" name="city" placeholder="City">
                </div>
                <div class="field">
                    <label>Skype</label>
                    <input type="text" name="skype" placeholder="Skype">
                </div>
                <div class="field">
                    <label>GitHub</label>
                    <input type="text" name="gitHub" placeholder="GitHub">
                </div>
                <div class="field">
                    <label>Country</label>
                    <textarea name="description" rows="2" placeholder="About yourself"></textarea>
                </div>
                <button class="ui green button" type="button">Save</button>
            </form>
        </div>
    </div>
</div>