<div class="ui middle aligned center aligned column grid">
    <form name="registerForm" class="ui six wide column massive form blue page-form">
        <div class="field" ng-class="{'error-field': registerForm.firstName.$invalid && registerForm.firstName.$touched}">
            <label class="page-form__label">First Name</label>
            <input type="text" name="firstName" placeholder="Jon" required ng-model="register.firstName">
        </div>
        <div class="field" ng-class="{'error-field': registerForm.lastName.$invalid && registerForm.lastName.$touched}">
            <label class="page-form__label">Last Name</label>
            <input type="text" name="lastName" placeholder="Doe" required ng-model="register.lastName">
        </div>
        <div class="field" ng-class="{'error-field': registerForm.login.$invalid && registerForm.login.$touched}">
            <label class="page-form__label">Login</label>
            <input type="text" name="login" placeholder="new_user" required ng-model="register.login">
        </div>
        <div class="field" ng-class="{'error-field': registerForm.password.$invalid && registerForm.password.$touched}">
            <label class="page-form__label">Password</label>
            <input type="text" name="password" placeholder="123..." required ng-model="register.password">
        </div>
        <button class="ui big positive button" type="button" ng-click="register.registerUser(registerForm.$valid)">Register</button>
        <button class="ui big secondary button" type="button" ng-click="register.returnToLogin()">Cancel</button>
    </form>
</div>
