<div class="ui container">
    <div class="row">
        <div class="ui secondary menu user-page-heading">
            <h1 class="ui header">Hello {{userPage.activeUser.firstName}}</h1>
            <div class="right menu">
                <button class="ui button black" ng-click="userPage.LogOut()">Logout</button>
            </div>
        </div>
    </div>
    <div class="ui two column grid user-page-info">
        <div class="ui four wide column grid">
            <div class="row">
                <div class="column">
                    <img class="ui medium circular image" src="http://placehold.it/150x150">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <button type="button" class="fluid ui blue button">Change</button>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="friends">
                        <h3 class="ui header">Friends:</h3>
                        <div class="ui middle aligned selection animated divided list">
                            <div class="item">
                                <div class="right floated content">
                                    <div class="ui red button">&#10006;</div>
                                </div>
                                <img class="ui avatar image" src="/images/avatar2/small/lena.png">
                                <div class="content">
                                    <div class="header">
                                        Lena
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="ui fluid green button">Add friends</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui eleven wide right floated column grid">
            <div class="row">
                <div class="column">
                    <h2 class="ui dividing header">
                        {{userPage.activeUser.firstName}} {{userPage.activeUser.lastName}}
                    </h2>
                    <div class="ui selection large list">
                        <div class="item" ng-show="userPage.activeUser.phone">
                            <div class="header">Phone</div>
                            {{userPage.activeUser.phone}}
                        </div>
                        <div class="item" ng-show="userPage.activeUser.city">
                            <div class="header">City</div>
                            {{userPage.activeUser.city}}
                        </div>
                        <div class="item" ng-show="userPage.activeUser.country">
                            <div class="header">Country</div>
                            {{userPage.activeUser.country}}
                        </div>
                        <div class="item" ng-show="userPage.activeUser.github">
                            <div class="header">GitHub</div>
                            {{userPage.activeUser.github}}
                        </div>
                        <div class="item" ng-show="userPage.activeUser.skype">
                            <div class="header">Skype</div>
                            {{userPage.activeUser.skype}}
                        </div>
                        <div class="item" ng-show="userPage.activeUser.description">
                            <div class="header">Description</div>
                            {{userPage.activeUser.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <button type="button" class="ui right floated blue button" ng-click="userPage.addUserInfo()">
                        Add information
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <form class="ui form" name="userMessagesForm">
                        <div class="field">
                            <label>Topic</label>
                            <input type="text" name="Topic" required ng-model="userPage.topic">
                        </div>
                        <div class="field">
                            <label>Message</label>
                            <textarea name="message" rows="2" required ng-model="userPage.message"></textarea>
                        </div>
                        <button type="button" class="ui green button" ng-click="userPage.sendMessage(userMessagesForm.$valid)">Send</button>
                    </form>
                    <div class="ui message" ng-repeat="message in userPage.activeUser.messages">
                        <div class="header">{{message.topic}}</div>
                        <p>{{message.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-window ng-show="userPage.isAddInfoModalShow"></modal-window>
</div>
