<div class="ui secondary menu user-page-heading">
    <h1 class="ui header">Hello</h1>
    <div class="right menu">
        <button class="ui button black">Logout</button>
    </div>
</div>
<div class="ui two column grid user-page-info">
    <div class="row">
        <div class="column">sdf</div>
        <div class="column">
            <h2 class="ui header">PPP</h2>
            <h4 class="ui header">Phone</h4>
            <h4 class="ui header">City</h4>
            <h4 class="ui header">Country</h4>
            <h4 class="ui header">GitHub</h4>
            <h4 class="ui header">Skype</h4>
            <h4 class="ui header">Description</h4>
            <button type="submit" class="ui right floated blue button">Add information</button>
            <form class="ui form">
                <div class="field">
                    <label>Topic</label>
                    <input type="text" name="Topic">
                </div>
                <div class="field">
                    <label>Message</label>
                    <textarea name="message"></textarea>
                </div>
                <button type="button" class="ui green button">Send</button>
            </form>
            <div class="ui message">
                <div class="header">k;l</div>
                <p>sdf</p>
            </div>
        </div>
    </div>
</div>